.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 300px); 
  padding: 30px 0;
  background: #f0f2f5;
}

.login-box {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  width: 320px;
  text-align: center;
}


.login-box h2 {
  margin-bottom: 25px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
}

.input-group input:focus {
  border-color: #007bff;
}

.login-btn {
  width: 100%;
  padding: 10px 0;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #0056b3;
}
